In [11]:
# importing & managing finanical data in python
import warnings
warnings.filterwarnings("ignore")

In [3]:
# read, inspect and clean data from csv files
import pandas as pd
amex = pd.read_csv('amex-listings.csv')

In [4]:
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
Last Update              360 non-null object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB

In [5]:
amex.head()

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Last Update
0,XXII,"22nd Century Group, Inc",1.3300,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,4/26/17
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.0000,1.266333e+09,1986.0,NaN,NaN,4/25/17
2,IAF,Aberdeen Australia Equity Fund Inc,6.1500,1.398653e+08,NaN,NaN,NaN,4/23/17
3,CH,"Aberdeen Chile Fund, Inc.",7.2201,6.756346e+07,NaN,NaN,NaN,4/26/17
4,ABE,Aberdeen Emerging Markets Smaller Company Oppo...,13.3600,1.288430e+08,NaN,NaN,NaN,4/25/17

In [ ]:
# dealing with missing values

In [6]:
amex = pd.read_csv('amex-listings.csv', na_values = 'n/a')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
Last Update              360 non-null object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB

In [7]:
amex = pd.read_csv('amex-listings.csv', na_values = 'n/a', parse_dates=['Last Update'])
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
Last Update              360 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 22.6+ KB

In [8]:
amex.head()

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Last Update
0,XXII,"22nd Century Group, Inc",1.3300,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,2017-04-26
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.0000,1.266333e+09,1986.0,NaN,NaN,2017-04-25
2,IAF,Aberdeen Australia Equity Fund Inc,6.1500,1.398653e+08,NaN,NaN,NaN,2017-04-23
3,CH,"Aberdeen Chile Fund, Inc.",7.2201,6.756346e+07,NaN,NaN,NaN,2017-04-26
4,ABE,Aberdeen Emerging Markets Smaller Company Oppo...,13.3600,1.288430e+08,NaN,NaN,NaN,2017-04-25

In [9]:
# read data from excel
# import data from one sheet

In [12]:
amex = pd.read_excel('listings.xlsx', sheetname='amex', na_values='n/a')
amex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 7 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
dtypes: float64(3), object(4)
memory usage: 19.8+ KB

In [13]:
# import data from two sheets

In [15]:
listings = pd.read_excel('listings.xlsx', sheetname=['amex', 'nasdaq'], na_values='n/a')
listings['nasdaq'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
Stock Symbol             3167 non-null object
Company Name             3167 non-null object
Last Sale                3165 non-null float64
Market Capitalization    3167 non-null float64
IPO Year                 1386 non-null float64
Sector                   2767 non-null object
Industry                 2767 non-null object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

In [ ]:
# get sheet names

In [16]:
xls = pd.ExcelFile('listings.xlsx')
exchanges = xls.sheet_names
exchanges

['amex', 'nasdaq', 'nyse']

In [17]:
nyse = pd.read_excel(xls, sheetname = exchanges[2], na_values='n/a')
nyse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
Stock Symbol             3147 non-null object
Company Name             3147 non-null object
Last Sale                3079 non-null float64
Market Capitalization    3147 non-null float64
IPO Year                 1361 non-null float64
Sector                   2177 non-null object
Industry                 2177 non-null object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB

In [18]:
nyse.head()

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry
0,DDD,3D Systems Corporation,14.48,1.647165e+09,NaN,Technology,Computer Software: Prepackaged Software
1,MMM,3M Company,188.65,1.127366e+11,NaN,Health Care,Medical/Dental Instruments
2,WBAI,500.com Limited,13.96,5.793129e+08,2013.0,Consumer Services,Services-Misc. Amusement & Recreation
3,WUBA,58.com Inc.,36.11,5.225238e+09,2013.0,Technology,"Computer Software: Programming, Data Processing"
4,AHC,A.H. Belo Corporation,6.20,1.347351e+08,NaN,Consumer Services,Newspapers/Magazines

In [19]:
# combine data from multiple worksheets

In [20]:
# concatenate two data frames
amex = pd.read_excel('listings.xlsx', sheetname = 'amex', na_values='n/a')
nyse = pd.read_excel('listings.xlsx', sheetname = 'nyse', na_values='n/a')
pd.concat([amex, nyse]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3507 entries, 0 to 3146
Data columns (total 7 columns):
Stock Symbol             3507 non-null object
Company Name             3507 non-null object
Last Sale                3425 non-null float64
Market Capitalization    3507 non-null float64
IPO Year                 1466 non-null float64
Sector                   2415 non-null object
Industry                 2415 non-null object
dtypes: float64(3), object(4)
memory usage: 219.2+ KB

In [22]:
# add a reference column
amex['Exchange'] = 'AMEX'
nyse['Exchange'] = 'NYSE'
listings = pd.concat([amex, nyse])
listings.head(2)

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Exchange
0,XXII,"22nd Century Group, Inc",1.33,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,AMEX
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.00,1.266333e+09,1986.0,NaN,NaN,AMEX

In [24]:
# combine three data frames
xls = pd.ExcelFile('listings.xlsx')
exchanges = xls.sheet_names
listings = []
for exchange in exchanges:
    listing = pd.read_excel(xls, sheetname = exchange)
    listing['Exchange'] = exchange
    listings.append(listing)
    
combined_listings = pd.concat(listings)
combined_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6674 entries, 0 to 3146
Data columns (total 8 columns):
Stock Symbol             6674 non-null object
Company Name             6674 non-null object
Last Sale                6590 non-null float64
Market Capitalization    6674 non-null float64
IPO Year                 2852 non-null float64
Sector                   5182 non-null object
Industry                 5182 non-null object
Exchange                 6674 non-null object
dtypes: float64(3), object(5)
memory usage: 469.3+ KB