In [25]:
import warnings
warnings.filterwarnings("ignore")
# stock prices : 
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
# https://datascience.stackexchange.com/questions/33051/error-while-using-the-pandas-datareader-package

In [18]:
import pandas_datareader as pdr
from pandas_datareader import data as wb
#from pandas_datareader.data import DataReader
from datetime import date

In [20]:
start = date(2015, 1, 1)
end = date(2016, 12, 31)
ticker = 'GOOG'
data_source = 'yahoo'
ticker_data = wb.DataReader(ticker, data_source=data_source, start=start, end = end)
stock_data = pd.DataFrame(ticker_data)
#stock_data = DataReader(ticker, data_source, start, end)
#stock_data.info()

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [21]:
# get ticker for largest company

In [27]:
nyse = pd.read_excel('Data/listings.xlsx', sheetname = 'nyse', na_values='n/a')
nyse.head()

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry
0,DDD,3D Systems Corporation,14.48,1.647165e+09,NaN,Technology,Computer Software: Prepackaged Software
1,MMM,3M Company,188.65,1.127366e+11,NaN,Health Care,Medical/Dental Instruments
2,WBAI,500.com Limited,13.96,5.793129e+08,2013.0,Consumer Services,Services-Misc. Amusement & Recreation
3,WUBA,58.com Inc.,36.11,5.225238e+09,2013.0,Technology,"Computer Software: Programming, Data Processing"
4,AHC,A.H. Belo Corporation,6.20,1.347351e+08,NaN,Consumer Services,Newspapers/Magazines

In [28]:
nyse = nyse.sort_values('Market Capitalization', ascending = False)
nyse[['Stock Symbol', 'Company Name']].head(3)

     Stock Symbol             Company Name
1586          JNJ        Johnson & Johnson
1125          XOM  Exxon Mobil Corporation
1548          JPM    J P Morgan Chase & Co

In [29]:
largest_by_market_cap = nyse.iloc[0]

In [30]:
largest_by_market_cap['Stock Symbol']

'JNJ'

In [31]:
nyse = nyse.set_index('Stock Symbol')
nyse.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3147 entries, JNJ to EAE
Data columns (total 6 columns):
Company Name             3147 non-null object
Last Sale                3079 non-null float64
Market Capitalization    3147 non-null float64
IPO Year                 1361 non-null float64
Sector                   2177 non-null object
Industry                 2177 non-null object
dtypes: float64(3), object(3)
memory usage: 172.1+ KB

In [32]:
nyse['Market Capitalization'].idxmax()

'JNJ'

In [33]:
# Get ticker for largest tech company
nyse['Sector'].unique()

array(['Health Care', 'Energy', 'Finance', 'Miscellaneous',
       'Public Utilities', 'Basic Industries', 'Consumer Services',
       'Consumer Non-Durables', 'Technology', 'Capital Goods',
       'Transportation', 'Consumer Durables', nan], dtype=object)

In [34]:
tech = nyse.loc[nyse.Sector == 'Technology']
tech['Company Name'].head(2)

Stock Symbol
ORCL                                 Oracle Corporation
TSM     Taiwan Semiconductor Manufacturing Company Ltd.
Name: Company Name, dtype: object

In [35]:
# get data for largest tech with 2017 IPO
ticker = nyse.loc[(nyse.Sector == 'Technology') &
                 (nyse['IPO Year'] == 2017), 'Market Capitalization'].idxmax()

In [37]:
#data = DataReader(ticker, 'google')
#data = data.loc[:, ['Close', 'Volume']]

In [ ]:
# plot the index
import matplotlib.pyplot as plt